$h1-header-height: 80px;
$h2-header-height: 50px;

$headers-sum: $h1-header-height + $h2-header-height;

$color-bg: #262626;
$color-notes: #4aa5cc;
$color-poi: #7cab37;
$color-qr-scanner: #bb2c22;
$color-spirit-level: #d8a13b;

$menu-transition-time: 500ms;
