<div class="m-3 text-center">
  {{this.beta}}
</div>

<div class="spirit-level-tube">
  <div class="bubble" style={{html-safe (concat "left: " this.precentLimiter "%")}}></div>
  <div class="range"></div>
</div>

<div class="m-4 text-center text-muted">
  The device position should be in the "landscape" orientation.
</div>
