<div class="d-flex">
  <button class="btn btn-primary mr-auto" type="button" {{on "click" this.addNote}}>Add note</button>
  <button class="btn btn-warning" type="button" {{on "click" this.clearAllNotes}}>Clear all notes</button>
</div>

{{#each this.notes as |note|}}
  <Notes::Note @note={{note}} @onRemoveClick={{fn this.removeNote note.title}} />
{{/each}}
