<div class="menu">
  <LinkTo class="notes" @route="notes">NOTES</LinkTo>
  <LinkTo class="poi" @route="poi">POI</LinkTo>
  <LinkTo class="qr-scanner" @route="qr-scanner">QR SCANNER</LinkTo>
  <LinkTo class="spirit-level" @route="spirit-level">SPIRIT LEVEL</LinkTo>
</div>
